<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/bootstrap-grid.min.css">
    <link rel="stylesheet" href="/static/css/bootstrap-reboot.min.css">
    <link href="/favicon.ico" rel="icon" />
    <script src="/static/js/jquery-3.5.1.js" rel="script"></script>
    <script src="/static/js/Popper.js" rel="script"></script>
    <script rel="script" src="/static/js/bootstrap.bundle.js"></script>
    <title>GIN Hello</title>
</head>

<body>
    <header>
        {{template "header"}}
    </header>
    <main>{{.title}}</main>
</body>

</html>